html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* START MY STYLE */

@font-face {
  font-family: "Shabnam";
  src: url(./assets/font/Shabnam.woff);
  src: url(./assets/font/Shabnam.eot);
  src: url(./assets/font/Shabnam.ttf);
}
@font-face {
  font-family: "Minimalist";
  src: url(./assets/font/Creating\ Minimalist.ttf);
  src: url(./assets/font/Creating\ Minimalist.otf);
}
body {
  direction: rtl;
  background-color: darkkhaki;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  background-color: darkorange;
  border-radius: 20px;
  position: absolute;
  transform: translate(-50%, 0%);
  width: 50%;
  height: 80vh;
  box-shadow: 5px 5px 15px 5px rgba(97, 63, 0, 0.4);
}
span {
  direction: ltr;
  font-family: Shabnam, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  width: auto;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: 800;
}
p {
  font-family: Minimalist;
  direction: ltr;
  font-size: 18px;
  background-color: rgb(201, 146, 64);
  box-shadow: 0 0 20px rgba(7, 41, 68, 0.28);
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 35px;
  margin: 20px;
  opacity: 0;
}
#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #2b0fca;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}
button {
  direction: ltr;
  font-family: cursive;
  display: block;
  background-color: #c24d09;
  border: none;
  padding: 5px;
  font-size: 18px;
  color: #ececec;
  padding: 15px 50px;
  margin: 200px auto;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 5px 5px 15px 5px rgba(97, 63, 0, 0.4);
}

.fade {
  opacity: 1;
  transition: opacity 0.1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading.display {
  visibility: visible;
}
